@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,500');

//$main-color: #a3b955;
$main-color: #b5e1ed;
$alt-color: #5bc0de;

body, html {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Rubik', 'Helvetica', 'Arial';
	font-size: 13px;
	color: #333;
}
a, a:focus, a:hover { text-decoration: none }

.noscript {
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	img { display: block; }
}
.hidden { display: none }
img.responsive {
	max-width: 100%;
	display: block;
}
.flex { display: flex }

h4.food-name {
	color: #111
}

.app-wrapper {
	width: 100%;
	position: relative;
	overflow: hidden;
}
figure {
	margin-bottom: 0;
	img {
		display: block;
		max-width: 100%;
	}
}
img.logo {
	margin: 20px 0 10px 0;
	display: inline-block;
}
.popup-map.on {
	left: 0;
	opacity: 1;
}
.popup-map {
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.6);
	opacity: 0;
	z-index: 6;
	transition: opacity .2s ease-in-out;
	&-close {
		background-color: $main-color;
		padding: 10px 15px;
		position: fixed;
		top: 0;
		left: 50%;
		margin-left: -110px;
		z-index: 8;
	}
	&-flex {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100%;
		position: relative;
		z-index: 7;

		img {
			display: block;
			max-width: 95%;
		}
	}
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.6);
	z-index: 6;
	overflow: auto;
	&-flex {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100%;
	}
	&-body {
		background-color: #fff;
		border-radius: 3px;
		padding: 30px;
		min-width: 400px;
		max-width: 400px;
		position: relative;
		z-index: 7;
		a.popup-close {
			display: block;
			color: #333;
			position: absolute;
			right: 0px;
			top: 0px;
			padding: 5px 7px;
			border-radius: 3px;
			background-color: #ffcc00;
		}
	}
	.food-info {
		display: flex;
		font-size: 13px;
		border: 1px solid rgba(#ffcc00, .5);
		padding: 10px;
		border-radius: 3px;
		margin-bottom: 10px;
		background-color: rgba(#ffcc00, .1);
		align-items: center;
		p:first-child { margin-right: 3px }
		p { margin-bottom: 0 }
	}
	.food-info.warning {
		display: block;
		background-color: rgba(#990000, .1);
		border: 1px solid rgba(#990000, .5);
	}
	table {
		width: 100%;
		tr td {
			padding: 8px 0;
			border-bottom: 1px solid #eee;
			font-size: 12px;
			label { margin: 0 }
		}
		tr td:nth-child(1) {
			text-align: center;
		}
		tr td:nth-child(3) {
			text-align: right;
			font-weight: bold;
		}
	}
}
.drop-down {
	padding: 20px 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	a.title {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	a.title span {
		color: $main-color
	}
	.body {
		margin-top: 20px;
	}
}
section.home .inner .drop-down h1 {
	margin: 0;
}
.container {
	max-width: 1170px;
}
.container.home {
	padding-bottom: 60px;
}

.btn-motion {
	background-color: #8b92ab;
	color: #fff;
}

.btn-motion:hover {
	background-color: darken(#8b92ab, 20%);
	color: #fff;
}

.header-wrap {
	width: 100%;
	position: relative;
	position: fixed;
	z-index: 5;
	background-color: #000;
}
.header {
	background-color: #000;
	position: relative;
	.flex {
		align-items: center;
	}
	h1 {
		font-size: 18px;
		font-family: 'Montserrat';
		text-transform: uppercase;
		padding: 20px 15px;
		border-left: 1px solid #444;
		color: #fff;
		margin-left: 10px;
		margin-bottom: 0;
	}
	a.reset-btn {
		display: block;
		position: absolute;
		top: 40px;
		right: 150px;
		transition: all .2s ease-in-out;
		z-index: 4;
		color: #333;
		border: 1px solid #eee;
		font-size: 12px;
		text-transform: uppercase;
		font-family: 'montserrat';
		padding: 10px 20px;
		background-color: #fff;
		&:hover {
			border: 1px solid #ccc;
		}
	}
	a.cart-btn {
		display: block;
		position: absolute;
		right: 15px;
		top: 40px;
		cursor: pointer;
		&.hovered {
			text-decoration: none;
			div.cart-title {
				border-bottom: 0;
				border-right: 3px solid $alt-color;
			}
			div.cart-menu {
				opacity: 1;
				height: auto;
				padding: 20px;
				border: 1px solid #eee;
				border-bottom: 3px solid $alt-color;
				border-right: 3px solid $alt-color;
			}
		}
		div.cart-title {
			transition: all .2s ease-in-out;
			display: block;
			z-index: 4;
			color: #333;
			border: 1px solid #eee;
			font-size: 12px;
			text-transform: uppercase;
			font-family: 'montserrat';
			padding: 10px 20px;
			background-color: #fff;
			position: relative;
		}
		div.cart-menu {
			transition: all .2s ease-in-out;
			cursor: auto;
			height: 0;
			opacity: 0;
			clear: both;
			overflow: hidden;
			position: absolute;
			top: 38px;
			right: 0;
			z-index: 6;

			background-color: #fff;
			width: 350px;
			text-transform: none;
			font-family: 'Source Sans Pro';
			font-size: 12px;
		}
	}
	a.main-site {
		padding: 10px 0;
		top: 0;
		right: 15px;
		font-size: 12px;
		text-transform: uppercase;
		color: #fff;
	}
}

section.home {
	padding-top: 85px;
	.inner {
		width: 100%;
		border-radius: 5px;
		margin: 0 auto;
		padding: 30px 0;
		figure {
			img {
				display: block;
				width: 100%;
			}
			margin-bottom: 20px;
		}
		h1 {
			text-transform: uppercase;
			font-size: 22px;
			margin: 0 0 20px 0;
			font-family: 'montserrat';
			color: #222;
			&::after {
				content: "";
				width: 40px;
				border-bottom: 1px solid $alt-color;
				display: block;
				margin: 10px 0 0 0;
			}
		}
		p {
			font-size: 15px;
			line-height: 160%;
			text-align: justify;
			color: #222;
		}
		p:last-child { margin-bottom: 0 }
		.arrow-down {
			display: inline-block;
			border: 1px solid rgba(#fff, .4);
			border-radius: 60%;
			padding: 5px 12px;
		}
	}
}

.item-wrap {
	h3 {
		font-family: 'Montserrat';
		margin-bottom: 15px;
		padding: 0;
		font-size: 18px;
		text-transform: uppercase;
	}
	.fitslim { margin-bottom: 40px }
	.fitslim .item-thumbs {
		margin-bottom: 0;
		.item-buttons {
			margin-bottom: 0
		}
	}
	.fitslim-description {
		padding: 23px 30px;
		width: 100%;
		background-color: $main-color;
		border-radius: 3px;

		h4 {
			font-family: 'Montserrat';
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 1px;
			font-size: 16px;
			margin: 0 0 10px 0;
		}
		p {
			font-size: 13px;
			margin-bottom: 10px;
		}
		p:last-child { margin-bottom: 0 }
	}
}
.items {
	.item-thumbs {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
	}

	figure, a.figure {
		display: block;
		margin-bottom: 10px;
		position: relative;

		.item-meta {
			position: absolute;
			z-index: 3;
			bottom: 0;
			padding: 15px;

			a.item-name, span.item-name {
				font-family: 'Montserrat';
				font-size: 20px;
				font-weight: 300;
				text-transform: uppercase;
				text-shadow: 2px 2px 0 rgba(0,0,0,.6);
				color: #fff;
				display: block;
				border-bottom: 1px solid transparent;
			}

			a.item-name:hover, span.item-name:hover {
				border-bottom: 1px solid rgba(255,255,255,.4)
			}

			.item-price, .item-price a, item-price span {
				color: #fff;
				font-style: italic;
				font-size: 14px;
				font-weight: 300;
				text-shadow: 2px 2px 0 rgba(0,0,0,.6);
			}
		}
	}

	a.figure:before, figure:before {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		content: "";
		background: transparent url('/images/overlay.png') left bottom repeat-x;
		z-index: 2;
		border-radius: 4px;
	}

	a.figure.no-overlay:before {
		background: none;
	}

	a.figure img, figure img {
		display: block;
		max-width: 100%;
		border-radius: 4px;
	}

	.item-desc {
		font-size: 13px;
		font-weight: 400;
		margin-bottom: 30px;
		padding: 0 0px;
	}

	.item-short-desc {
		flex-grow: 1;
		width: 100%;
		font-weight: 400;
		padding: 0 0px;
		p { font-size: 13px }
	}

	.item-buttons {
		width: 100%;
		border-top: 1px solid #eee;
		padding-top: 10px;
		margin-top: 10px;
		margin-bottom: 30px;
		overflow: hidden;

		a.btn, input.form-control-sm {
			font-size: 11px;
		}
	}
}

.mini-cart {
	.items {
		.item {
			display: flex;
			border-bottom: 1px solid #eee;
			padding: 10px 0;
			.col-1 { flex-grow: 1 }
			button {
				border: 0;
				background-color: transparent;
				padding: 0 0 0 10px;
				margin: 0;
				color: darken($main-color, 10%);
			}
			h4 {
				font-size: 13px;
				font-family: 'Montserrat';
				font-weight: bold;
				text-transform: uppercase;
				margin-bottom: .5rem;
			}
			h5 {
				font-size: 13px;
				color: #777;
				margin-bottom: 1rem;
			}
			p:last-child { margin-bottom: 0 }
		}
		.item:first-child { padding-top: 0 }
		.item:last-child { border-bottom: 0 }
	}
	.total {
		padding: 10px 0 0 0;
		border-top: 1px solid #eee;
		display: flex;
		align-items: center;
		.col-1 {
			width: 50%;
			text-align: left;
			a {
				text-transform: uppercase;
				font-weight: bold;
				font-family: 'Montserrat';
				font-size: 13px;
				color: #222;
				&:hover {
					text-decoration: none;
					color: #ffcc00;
				}
				i { color: #000; }
			}
			a.check-out {
				margin-top: 5px;
				display: inline-block;
				padding: 5px 10px;
				background-color: $main-color;
				border: 1px solid $main-color;
				&:hover {
					color: #222;
					border: 1px solid $main-color;
					background-color: #fff;
				}
			}
			a.empty-cart {
				text-transform: none;
				font-weight: 400;
				font-family: 'Source Sans Pro', Helvetica, sans-serif;
				display: inline-block;
				margin-top: 5px;
				font-size: 12px;
				color: #777;
			}
		}
		.col-2 {
			width: 50%;
			text-align: right;
		}
		h5 {
			font-family: 'Montserrat';
			font-size: 12px;
			font-weight: bold;
			text-transform: uppercase;
			margin: 0;
		}
		p { margin-bottom: 0; font-size: 16px }
	}
}
.qty-number {
	border: 1px solid #ddd;
	display: inline-block;
	border-radius: 4px;
	padding: 0;
	a.qty {
		color: #222;
		display: inline-block;
		padding: 3px;
		font-size: 13px;
		background-color: $main-color;
		&:hover {
			background-color: #222;
			color: #fff
		}
	}
	a.qty.left { border-right: 1px solid #eee; }
	a.qty.right { border-left: 1px solid #eee; }
	span {
		display: inline-block;
		padding: 0 6px;
		font-size: 13px;
	}
}
a.qty {
	color: #666;
	font-size: 10px;
	&:hover { color: #222 }
}
.button {
	text-transform: uppercase;
	font-family: 'Montserrat';
	font-size: 12px;
	padding: 10px 15px;
	transition: all .2s ease-in-out;
	display: inline-block;
	cursor: pointer;
}
.button.primary {
	border: 1px solid $alt-color;
	background-color: #fff;
	color: #333;
	&:hover {
		background-color: $main-color;
		border: 1px solid darken($main-color, 5%);
		text-decoration: none;
	}
}
.button.yellow {
	background-color: $main-color;
	color: #222;
	border: 0;
	&:hover {
		background-color: #222;
		color: #fff;
		text-decoration: none;
	}
}
.btn-info {
    color: #222;
    background-color: #b5e1ed;
    border-color: darken(#b5e1ed, 3%);
    &:hover {
    	color: #222;
    	background-color: darken(#b5e1ed, 10%);
    	border-color: darken(#b5e1ed, 12%);
    }
}
.button.big {
	padding: 15px 30px;
	font-size: 14px;
}
.button.no-border {
	color: #777;
	&:hover {
		color: #222;
		text-decoration: none;
	}
}

.page-title {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	h2,h3 {
		text-transform: uppercase;
		font-size: 22px;
		margin: 0;
		font-family: 'montserrat';
		&::after {
			content: "";
			width: 40px;
			border-bottom: 1px solid $alt-color;
			display: block;
			margin: 10px 0 0 0;
		}
	}
	h3 {
		font-size: 16px
	}
	a.detox-pdf {
		margin-right: auto;
		display: inline-block;
		margin-left: 15px;
		margin-bottom: 9px;
		padding: 3px 10px;
		border: 1px solid $main-color;
		border-radius: 3px;
		text-transform: uppercase;
		font-size: 12px;
		color: #222;
		transition: .2s ease all;
		&:hover {
			background-color: $main-color;
			color: #fff;
		}
	}
}
.page-subtitle.first {
	margin-top: 0;
}

.page-subtitle {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 65px 0 10px 0;
	h2 {
		text-transform: uppercase;
		font-size: 20px;
		text-align: center;
		letter-spacing: 3px;
		margin: 0;
		font-family: 'montserrat';
		&::after {
			content: "";
			width: 40px;
			border-bottom: 1px solid $alt-color;
			display: block;
			margin: 10px auto;
		}
	}
}


.food-page { padding-top: 120px }
.food-page .page-title {
	padding-top: 10px;
}
.food-wrap {
	.food-detox {
		border: 1px solid #eee;
		padding: 30px;
		h4 {
			font-family: 'Montserrat';
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 1px;
			font-size: 18px;
			margin: 25px 0 20px 0;
		}
		h4:first-child { margin-top: 0 }
		p { font-size: 13px; }
		div p:last-child { margin-bottom: 0 }
	}
	.food-text {
		padding: 30px;
		h4 {
			font-family: 'Montserrat';
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 1px;
			font-size: 18px;
			margin: 25px 0 20px 0;
		}
		h4:first-child { margin-top: 0 }
		p {
			font-size: 13px;
			text-align: justify;
			padding-right: 50px;
		}
		p:last-child { margin-bottom: 0 }
	}

	.food-description {
		border: 1px solid #eee;
		background-color: #fff;
		p { font-size: 15px }
	}
	.food-price {
		border: 1px solid darken($main-color, 5%);
		background-color: $main-color;
		h5 {
			text-transform: uppercase;
			font-family: 'Montserrat';
			font-size: 15px;
		}
		p {
			text-align: left;
			padding-right: 0;
			margin-bottom: 10px;
		}
		.food-title {
			h5 { margin-bottom: 0 }
			justify-content: space-between;
			align-items: center;
		}
		p.desc { margin-top: 10px; }
		p.price { font-family: 'Montserrat'; margin: 0 }
		p:last-child { margin-bottom: 0 }
		hr:last-child { display: none; }
		hr {
			margin: .5rem 0;
			border-top: 1px dotted rgba(#000, .1)
		}
	}
	.fit .food-menus {
		margin-top: 0;
		margin-bottom: 25px;
		flex: 1 0 50%;
		@include tablet {
			flex: 1 0 100%;
		}
	}
	.fitslim-pic {
		margin-top: 20px;
		img {
			display: block;
			max-width: 100%;
			width: 100%;
		}
	}
	.food-menus {
		margin-top: 25px;
		flex: 1 0 30%;
		display: flex;
		.food-menu {
			width: 100%;
			padding: 20px 30px;
			border: 1px solid #eee;
			background-color: #fff;
			p {
				text-align: left;
				padding-right: 0;
				display: block;
				border-bottom: 1px solid #eee;
				margin-bottom: 5px;
				padding-bottom: 5px;
			}
			p:last-child {
				border-bottom: 0;
				margin-bottom: 0;
				padding-bottom: 0;
			}
			h4 {
				margin: 0 0 10px 0;
				&:after {
					display: block;
					content: "";
					margin: 10px 0 0 0;
					border-bottom: 1px solid $alt-color;
					width: 30px;
				}
			}
		}
		figure {
			display: block;
			width: 100%;
			margin: 0;
			img {
				display: block;
				width: 100%;
				max-width: 100%;
			}
		}
	}

}
.gallery {
	margin-top: 25px;
	figure {
		display: block;
		width: 100%;
		margin: 0 0 25px 0;
		img {
			display: block;
			width: 100%;
			max-width: 100%;
		}
	}
}

.payment-selection {
	label {
		display: block;
		margin-bottom: .5rem;
		.fa {
			display: inline-block;
			margin: 0 .35rem 0 .5rem;
		}
	}
}

.overview, .checkout {
	padding-top: 120px;
	min-height: 72vh;
}
.overview .page-title, .checkout .page-title {
	padding-top: 10px;
}
table.table-cart {
	width: 100%;
	tr th {
		padding: 10px;
		background-color: $main-color;
		text-transform: uppercase;
		font-family: 'Montserrat';
		font-size: 13px;
	}
	tr td {
		padding: 10px;
		font-size: 14px;
		border-bottom: 1px dotted #ddd;
	}
	tr:last-child td { border-bottom: 0 }
	tr.total td {
		font-weight: bold;
		font-size: 14px;
	}
}
.checkout { padding-top: 120px; }
.container.terms {
	padding-top: 140px;
	padding-bottom: 40px;
	max-width: 860px;

	h3 {
		font-family: 'Montserrat';
		font-size: 14px;
		margin-top: 1.5rem;
		margin-bottom: 1rem;
		display: block;
		color: #5bc0de;
		font-weight: normal;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	p {
		text-align: justify;
	}
}

.table-schedule {
	width: 100%;
	tr th {
		padding: 8px 15px;
		text-transform: uppercase;
		background-color: #ffcc00;
	}
	tr td {
		padding: 8px 15px;
		background-color: #fff;
		border-bottom: 1px solid #eee;
	}
	tr:last-child td {
		border-bottom: 0
	}
	tr.day td {
		border-bottom: 0;
		border-top: 2px solid $alt-color;
		background-color: #f4f4f4;
	}
	tr td .type {
		text-transform: uppercase;
		color: #aaa;
		font-weight: bold;
		display: inline-block;
		border-bottom: 1px dotted #eee;
		padding-bottom: 5px;
		margin-bottom: 5px;
	}
	tr td:nth-child(2) {
		font-size: 18px;
		color: #444;
		font-weight: 300
	}
	span.extra {
		color: #bbb;
		letter-spacing: 1px;
		text-transform: uppercase;
		display: inline-block;
		font-size: 11px;
		margin-top: 5px;
	}
}
.delivery-section {
	textarea { margin-bottom: 10px }
	label {
		text-transform: uppercase;
		font-size: 13px;
		input {
			margin-right: 5px
		}
	}
	ul {
		padding-left: 15px;
	}
}
.map {
	position: relative;
	overflow: hidden;
	a {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(#000, .3);
		left: 0;
		top: 0;
		z-index: 2;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		color: #fff;
		text-transform: uppercase;
		border-radius: 3px;
		transition: transform .1s ease-in-out;
		i {
			display: inline-block;
			margin-bottom: 10px;
		}
		&:hover {
			transform: scale(1.2)
		}
	}
	img {
		position: relative;
		z-index: 1;
		border-radius: 3px;
	}
}
.outside {
	margin-top: 10px;
	font-size: 13px;
	color: #666;
	a { color: #567040 }
}
.delivery-compact {
	margin-bottom: 20px;
	font-size: 13px;
	border: 1px solid #eee;
	border-radius: 4px;
	.delivery-title {
		padding: 15px 20px;
	}
	.delivery-body {
		margin-top: 0
	}
	.delivery-type {
		color: #aaa;
		font-size: 12px;
		font-style: italic;
	}
	h2 {
		font-weight: bold;
		font-size: 16px;
		display: inline-block;
		margin: 0 5px 0 0;
		font-weight: 400
	}
	.delivery-day {
		margin-bottom: 10px;
		border-bottom: 1px dotted #eee;
		padding-bottom: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.delivery {
	border: 1px solid #eee;
	padding: 30px;
	margin-bottom: 20px;
	.delivery-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.delivery-body {
		margin-top: 15px;
	}
	.delivery-days {
		padding: 10px 15px;
		border-bottom: 1px solid #e7e7e7;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		background-color: #f5f5f5;
		span {
			margin: 0 10px;
			padding: 0 10px;
			border-right: 1px solid #e5e5e5;
		}
		span:nth-child(1) {
			margin: 0 10px 0 0;
			padding: 0 10px 0 0;
			width: 200px;
			border-right: 0;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 13px;
			margin-right: auto;
		}
		span:nth-child(3) {
			margin: 0;
			padding: 0;
			border-right: 0;
		}
		label {
			margin-bottom: 0;
			font-size: 13px;
			text-transform: uppercase;
			input { margin-right: 5px }
		}
	}
	.delivery-type .cell {
		padding: 10px 15px;
		border-bottom: 1px dotted #e7e7e7;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		background-color: #fff;
		span {
			margin: 0 10px;
			padding: 0 10px;
		}
		span:nth-child(1) {
			margin: 0 10px 0 0;
			padding: 0 10px 0 0;
			width: 200px;
			border-right: 0;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 13px;
			margin-right: auto;
		}
		span:nth-child(3) {
			margin: 0;
			padding: 0;
			border-right: 0;
		}
		label {
			margin-bottom: 0;
			font-size: 13px;
			input { margin-right: 5px }
		}
		textarea {
			font-size: 13px;
		}
	}
	h2 {
		text-transform: uppercase;
		font-size: 12px;
		margin: 0;
		font-family: 'montserrat';
		&::after {
			content: "";
			width: 40px;
			border-bottom: 1px solid $alt-color;
			display: block;
			margin: 10px 0 0 0;
		}
	}
}

.schedule {
	&-selection {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		label { margin: 0 }
		label input {
			margin-right: 5px;
		}

		span:nth-child(1) {
			margin-right: auto;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 14px;
		}
		span:nth-child(2) {
			margin-left: 20px;
		}
		span:nth-child(3) {
			margin-left: 15px;
			padding-left: 15px;
			border-left: 1px solid #eee;
		}
	}
}

.footer-wrap {
	width: 100%;
	position: relative;
	z-index: 4;
	background-color: #111;
	padding: 50px 0;
	margin-top: 40px;
	p {
		color: rgba(#fff, .7);
	}
	a {
		color: rgba(#fff, .5);
		font-weight: bold;
		border-bottom: 1px solid $alt-color;
		transition: all .2s ease;
		&:hover {
			background-color: $main-color;
			border-bottom: 1px solid transparent;
			color: #222;
		}
	}
	.social { margin-top: 20px; margin-bottom: 0 }
	.social a {
		opacity: .7;
		transition: opacity .2s ease;
		border-bottom: 0;
	}
	.social a:hover {
		opacity: 1;
		background-color: transparent;
		color: $main-color;
	}
}

.checkout .info, .overview .info {
	background-color: $main-color;
	color: #222;
	font-size: 14px;
	padding: 10px 15px;
	p:last-child { margin-bottom: 0 }
}

.checkout {
	position: relative;
	h4 {
		font-family: 'Montserrat';
		font-size: 16px;
		background-color: #eee;
		padding: 10px 15px;
		color: #222;
	}
	.lp { padding-left: 15px }
	.lp.radio-only {
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #eee;
	}
	.form-group label {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 13px;
	}
	.form-group.radio-only {
		label {
			font-weight: normal;
			margin-bottom: 0;
		}
		label.single {
			font-weight: bold;
			display: block;
			margin-bottom: 10px;
		}
		label.normal {
			text-transform: none;
		}
	}
	.extra-field {
		margin-top: 15px;
	}
	.required { color: red }
	.text-danger {
		font-size: 13px;
		margin-bottom: 0;
		margin-top: 5px;
	}
	input.is-danger, textarea.is-danger {
		border: 1px solid #990000
	}
}

.comp-loading {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(#fff, .9);
	z-index: 3;
}
.el-loading-spinner {
	top: 50%;
	margin-top: -21px;
	width: 100%;
	text-align: center;
	position: absolute;
}
.el-loading-spinner .circular {
	width: 42px;
	animation: rotate 2s linear infinite;
}
.el-loading-spinner .path {
	animation: dash 1.5s ease-in-out infinite;
	stroke-dasharray: 1,100;
	stroke-dashoffset: 0;
	stroke-width: 2;
	stroke: #b5e1ed;
	stroke-linecap: round;
}
@keyframes dash {
	0% {
		stroke-dasharray: 1,150;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 90,150;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 90,150;
		stroke-dashoffset: -124;
	}
}
@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}
