@font-face {
    font-family: 'Univers LT Std';
    src: url('/fonts/univers/UniversLTStd-BoldCn.woff2') format('woff2'),
        url('/fonts/univers/UniversLTStd-BoldCn.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family:'Proxima Nova';
    src:url('/fonts/proxima/proximanova-bold-webfont.eot');
    src:url('/fonts/proxima/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/proxima/proximanova-bold-webfont.woff') format('woff'),
        url('/fonts/proxima/proximanova-bold-webfont.ttf') format('truetype'),
        url('/fonts/proxima/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight:600;
    font-style:normal
}

@font-face {
    font-family:'Proxima Nova';
    src:url('/fonts/proxima/proximanova-boldit-webfont.eot');
    src:url('/fonts/proxima/proximanova-boldit-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/proxima/proximanova-boldit-webfont.woff') format('woff'),
        url('/fonts/proxima/proximanova-boldit-webfont.ttf') format('truetype'),
        url('/fonts/proxima/proximanova-boldit-webfont.svg#proxima_nova_rgbold_italic') format('svg');
    font-weight: 600;
    font-style: italic
}

@font-face {
    font-family:'Proxima Nova';
    src:url('/fonts/proxima/proximanova-regular-webfont.eot');
    src:url('/fonts/proxima/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/proxima/proximanova-regular-webfont.woff') format('woff'),
        url('/fonts/proxima/proximanova-regular-webfont.ttf') format('truetype'),
        url('/fonts/proxima/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family:'Proxima Nova';
    src:url('/fonts/proxima/proximanova-regitalic-webfont.eot');
    src:url('/fonts/proxima/proximanova-regitalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/proxima/proximanova-regitalic-webfont.woff') format('woff'),
        url('/fonts/proxima/proximanova-regitalic-webfont.ttf') format('truetype'),
        url('/fonts/proxima/proximanova-regitalic-webfont.svg#proxima_novaregular_italic') format('svg');
    font-weight:400;
    font-style:italic
}

@font-face {
    font-family: 'Freight';
    src: url('/fonts/freight/Freight-TextMedium.woff2') format('woff2'),
        url('/fonts/freight/Freight-TextMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Freight';
    src: url('/fonts/freight/Freight-TextBold.woff2') format('woff2'),
        url('/fonts/freight/Freight-TextBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Freight';
    src: url('/fonts/freight/Freight-TextBoldItalic.woff2') format('woff2'),
        url('/fonts/freight/Freight-TextBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Freight';
    src: url('/fonts/freight/Freight-TextMediumItalic.woff2') format('woff2'),
        url('/fonts/freight/Freight-TextMediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

