$main-color: #4a66ff;
$desktop-lg: 1400px;
$desktop-hd: 1820px;

@mixin desktop-hd {
  @media (min-width: #{$desktop-hd}) {
    @content;
  }
}
@mixin desktop-lg {
  @media (min-width: #{$desktop-lg}) and (max-width: #{$desktop-hd - 1px}) {
    @content;
  }
}

#order-app,
#mp-app {
  background-color: #e4e7ec;
  width: 100vw;
  height: 100vh;
}
.app-nav {
  position: fixed;
  left: 50%;
  border: 1px solid #d0d0d6;
  border-radius: 25px;
  top: 1rem;
  z-index: 10;
  transform: translateX(-50%);
  a {
    display: inline-block;
    padding: 0.75rem 1rem;
    background-color: #f1f2f4;
    color: #abacb1;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    transition: 0.2s ease-in all;
  }
  a.active {
    background-color: $main-color;
    color: #fff;
    position: relative;
  }
  a:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-left: 1.5rem;
  }
  a:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-right: 1.5rem;
  }
  a:not(:last-child) {
    border-right: 1px solid rgba(#000, 0.1);
  }
}

a.mp-nav {
  position: fixed;
  bottom: 1rem;
  z-index: 99;
  display: inline-block;
  background-color: $main-color;
  color: #fff;
  font-size: 2em;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  transition: 0.2s ease-in all;
  opacity: 0.5;
  &:hover {
    opacity: 1;
    background-color: darken($main-color, 5%);
  }
}
a.mp-nav.prev {
  left: 1rem;
}
a.mp-nav.next {
  right: 1rem;
}

.page-date-periods {
  display: flex;
  justify-content: center;
  align-items: center;
  .date-pill {
    background-color: $main-color;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 25px;
    margin: 0 5px;
    font-weight: bold;
  }
}
.page-nav.center {
  text-align: center;
}
.page-nav {
  margin-top: 2rem;
  a.nav-icon {
    display: inline-block;
    background-color: $main-color;
    color: #fff;
    font-size: 1.5em;
    padding: 0.45rem 0.85rem;
    border-radius: 50%;
    transition: 0.2s ease-in all;
    &:hover {
      background-color: darken($main-color, 5%);
    }
  }
}

a.preview-nav {
  position: fixed;
  bottom: 2rem;
  z-index: 99;
  display: inline-block;
  background-color: $main-color;
  color: #fff;
  font-size: 1em;
  padding: 0.5rem 2rem;
  border-radius: 35px;
  transition: 0.2s ease-in all;
  box-shadow: 0;
  &:hover {
    box-shadow: 0 3px 10px 3px rgba(#38383a, 0.25);
  }
}
a.preview-email {
  bottom: 5rem;
}
a.preview-nav.next {
  right: 2rem;
}

.container-fullscreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 24px;
    padding: 0;
    line-height: 24px;
    display: block;
    margin-bottom: 2rem;
    text-transform: capitalize;
    i {
      color: #abacb1;
    }
    a.heading-edit {
      font-size: 14px;
      display: inline-block;
      margin-left: 10px;
      font-weight: bold;
      color: $main-color;
    }
  }
  h1.edit {
    display: flex;
    align-items: center;
    > i:first-child {
      margin-right: 5px;
    }
  }
}
.mp-guest-details {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.guest-details-body {
  width: 500px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 5px 10px 3px rgba(#596478, 0.1);
}
.mp-page {
  z-index: 1;
  transition: 0.2s ease-in all;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  overflow: auto;
  padding: 5rem 0;
}
.mp-page.fullh {
  height: 100vh;
}
.mp-page.active {
  z-index: 2;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.app-wrapper {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
}

.mp-schedule-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 2rem;
}
.mp-manage .mp-guest-schedule,
.mp-manage .mp-loadout {
  h1 {
    padding: 1.5rem;
  }
  .action-buttons {
    transform: translateY(-50%);
  }
}
.mp-loadout,
.mp-guest-schedule {
  position: relative;
  z-index: 1;
  h1 {
    position: sticky;
    z-index: 30;
    background-color: #fff;
    width: 100%;
    left: 0;
    top: 0;
    padding: 3rem 1.5rem 1.5rem 1.5rem;
    margin-bottom: 0;
    border-bottom: 2px solid #f2f2f2;
  }
  .action-buttons {
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-15%);
  }
  .action-buttons a:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-left: 1.25rem;
  }
  .action-buttons a:last-child {
    border-right: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-right: 1.25rem;
  }
  .action-buttons a {
    border-right: 1px solid rgba(#abacb1, 0.25);
    font-weight: bold;
    color: #abacb1;
    background-color: #f1f2f4;
    font-size: 11px;
    text-transform: uppercase;
    display: inline-block;
    padding: 0.5rem 0.75rem;
    transition: 0.2s ease-in all;
    i {
      transition: 0.2s ease-in all;
    }
  }
  .action-buttons.reverse a {
    border: 2px solid $main-color;
    background-color: #fff;
    color: $main-color;
    i {
      color: $main-color;
    }
  }
  .action-buttons.reverse a:hover,
  .action-buttons.reverse a.active {
    background-color: $main-color;
    border: 2px solid transparent;
    color: #fff;
    i {
      color: #fff;
    }
  }
  .action-buttons a:hover,
  .action-buttons a.active {
    background-color: $main-color;
    color: #fff;
    i {
      color: #fff;
    }
  }
}
.mp-form {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  input.pt-input {
    width: 300px;
  }
  border-bottom: 1px solid #eee;
}
.mp-loadout {
  width: 100%;
  overflow-y: auto;
  background-color: #fff;
  border-right: 1px solid #f1f2f4;
  box-shadow: 0 5px 10px 3px rgba(#596478, 0.1);
}
.mp-guest-schedule {
  width: 100%;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 0 5px 10px 3px rgba(#596478, 0.1);
}

.dropzone-wrapper {
  padding: 1.5rem;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.dropzone-box {
  width: 31.2%;
  position: relative;
  display: block;
  background-color: rgba(#fff, 0.65);
  border: 1px solid #b5e2f0;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  min-height: 300px;
  border-radius: 4px;
  border: 1px dashed #ddd;
  b {
    display: block;
    margin-bottom: 1rem;
  }
  hr {
    margin: 5px 0;
    border-bottom: 1px dashed #ddd;
  }
  @include desktop-lg {
    font-size: 13px;
    width: 31.5%;
  }
  @include desktop-hd {
    font-size: 13px;
    width: 32%;
  }
}
.dropzone-box > div:nth-child(1) {
  margin-bottom: 1rem;
}
.dropzone-box:nth-child(3n) {
  margin-right: 0;
}
.dropzone-info {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  a {
    color: #5d606b;
  }
  a:hover {
    color: #454545;
    .fal {
      color: $main-color;
    }
  }
  .fal {
    font-size: 3em;
    color: #ddd;
    display: block;
    margin-bottom: 1rem;
    transition: 0.2s ease-in all;
  }
}
.dropzone-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  span {
    font-weight: bold;
  }
  span:nth-child(1) {
    text-transform: uppercase;
  }
}
.dropzone-paste {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.dropzone-toolbars {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dragzone-wrapper {
  padding: 1.5rem;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.drag-parent {
  position: relative;
  display: block;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  h5 {
    margin-top: 0;
    width: 100%;
    margin-bottom: 1rem;
    margin-left: 1.6rem;
  }
  > .drag-handle {
    opacity: 1;
    visibility: visible;
    top: 0;
    left: 0;
  }
}

.drag {
  width: 31.2%;
  position: relative;
  display: block;
  background-color: #fff;
  border: 1px solid #dce1e2;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  b {
    display: block;
    margin-bottom: 1rem;
  }
  hr {
    margin: 5px 0;
    border-bottom: 1px dashed #ddd;
  }
  @include desktop-lg {
    width: 31.5%;
    font-size: 13px;
  }
  @include desktop-hd {
    width: 32%;
    font-size: 13px;
  }
}
.drag > div:nth-child(2) {
  margin-bottom: 1rem;
}
.drag:nth-child(3n + 2) {
  margin-right: 0;
}
.drag,
.drag-parent {
  &:hover {
    .drag-handle {
      opacity: 1;
      visibility: visible;
      cursor: move;
    }
  }
}
.drag-delivery {
  margin-top: auto;
  margin-left: -1rem;
  margin-right: -1rem;
  background-color: #f1f2f4;
  border-top: 1px dashed #e1e1e1;
  border-bottom: 1px dashed #e1e1e1;
  padding: 1rem;
  b {
    margin-bottom: 0.75rem;
    text-transform: uppercase;
  }
}

.drag-handle {
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in all;
}

.table-wrapper {
  padding: 1.5rem;
  table {
    width: 100%;
    tbody tr td:last-child {
      text-align: right;
    }
  }
}
.table {
  .mp-buttons {
  }
  .mp-buttons a {
    display: inline-block;
    text-transform: lowercase;
    font-variant: small-caps;
    padding: 0 5px;
    &:nth-child(1) {
      color: $main-color;
    }
    &:nth-child(2) {
      color: #aaa;
    }
  }
}

.mp-wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  height: 100vh;
  h1 {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 16px;
  }
  h3 {
    margin-bottom: 1rem;
  }
}

.separator {
  display: block;
  text-align: center;
  margin: 0.5rem 0;
  position: relative;
  i {
    position: relative;
    z-index: 3;
  }
  &:before {
    z-index: 1;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 45%;
    border-top: 1px solid #ccc;
  }
  &:after {
    z-index: 1;
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 45%;
    border-top: 1px solid #ccc;
  }
}

.day-delivery {
  margin-top: auto;
  margin-left: -1rem;
  margin-right: -1rem;
  background-color: #f1f2f4;
  border-top: 1px dashed #e1e1e1;
  border-bottom: 1px dashed #e1e1e1;
  padding: 1rem;
  textarea {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    min-height: 70px;
    font-size: 13px;
    padding: 10px;
  }
  textarea:focus {
    outline: none;
    border: 1px solid darken($main-color, 10%);
  }
}

.mp-preview-wrapper {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  padding: 2rem;
  flex-wrap: wrap;
}

.preview-body {
  background-color: #fff;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 5px 10px 3px rgba(#596478, 0.1);
}
.preview-body.half {
  width: 620px;
  &:first-child {
    margin-right: 20px;
  }
  margin-bottom: 20px;
  h1 {
    margin-top: 1rem;
  }
}
.preview-body.full {
  width: 1260px;
  overflow-y: auto;
}
.form-preview {
  font-size: 1rem;
  .label,
  .value {
    margin: 0;
    border-bottom: 1px solid #eee;
  }
}
.preview-schedule {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.schedule-card {
  width: 23.7%;
  padding: 1rem;
  border: 1px solid #e3e3e3;
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 300px;
  border-radius: 4px;
  hr {
    margin: 5px 0;
    border-bottom: 1px dashed #ddd;
  }
  .schedule-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    span {
      font-weight: bold;
    }
    span:nth-child(1) {
      text-transform: uppercase;
    }
  }
  .schedule-menu {
    margin-bottom: 1rem;
  }
  .schedule-delivery {
    display: block;
    margin: auto 0 0 0;
    span {
      font-weight: bold;
      display: block;
      margin-bottom: 1rem;
    }
  }
}
.schedule-card:nth-child(4n) {
  margin-right: 0;
}
.no-border {
  border-bottom: 0;
}

.mp-inner {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  position: relative;
  background-color: #eee;
  h1 {
    border-bottom: 1px solid rgba(#000, 0.15);
    padding: 0.75rem 1rem;
    margin: 0;
    background-color: rgba(#000, 0.05);
  }
  &-content {
    padding: 0.75rem 1rem;
    height: 100vh;
    padding-bottom: 500px;
    overflow-y: auto;
  }
}
.load-plan {
  border: 1px solid darken(#e8eced, 10%);
  border-radius: 3px;
  overflow: hidden;
  table {
    width: 100%;
  }
  table tbody tr:nth-child(odd) {
    background-color: #eee;
  }
  table tbody tr td {
    vertical-align: middle;
    font-size: 13px;
  }
  table tbody tr td:last-child {
    text-align: right;
  }
}
.test-dropzone {
  min-height: 300px;
  width: 100%;
  margin-bottom: 2rem;
  h5 {
    margin-top: 1rem;
  }
}

.test-drag-wrapper {
  @extend .test-dropzone;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0;
  background-color: #d4f1fa;
}
.test-drag-wrapper.writable {
  background-color: #fff;
  .test-drag {
    border-color: #e3e3e3;
  }
}
.test-drag-parent {
  position: relative;
  display: block;
  border: 1px solid #e1e1e1;
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  h5 {
    margin-top: 0;
    width: 100%;
    margin-bottom: 1rem;
    margin-left: 1.6rem;
  }
  > .drag-handle {
    opacity: 1;
    visibility: visible;
    top: 1.45rem;
    left: 1.5rem;
  }
}
.test-drag {
  width: 24.15%;
  position: relative;
  display: block;
  background-color: rgba(#fff, 0.65);
  border: 1px solid #b5e2f0;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  b {
    display: block;
    margin-bottom: 1rem;
  }
  hr {
    margin: 5px 0;
    border-bottom: 1px dashed #ddd;
  }
}
.test-drag:nth-child(4n) {
  margin-right: 0;
}
.test-drag,
.test-drag-parent {
  &:hover {
    .drag-handle {
      opacity: 1;
      visibility: visible;
      cursor: move;
    }
  }
}

.drag-handle {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in all;
}

.inner .dropzone-wrapper {
  margin-top: 10px;
}

.new-component {
  width: 400px;
  padding: 0;
  &-title {
    background-color: #232323;
    color: #fff;
    font-family: $heading;
    text-transform: uppercase;
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    a {
      color: #fff;
      font-size: 1.2em;
      display: inline-block;
      padding: 0.5rem;
      transition: 0.1s ease-in all;
      transform-origin: 50%;
      &:hover {
        transform: scale(1.4, 1.4);
      }
    }
  }
  &-body {
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 1rem 1.5rem;
    h5 {
      font-weight: bold;
      display: block;
      margin-bottom: 1rem;
    }
  }
  &-fields {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0.5rem;
    span {
      border-radius: 4px;
      display: block;
      text-align: left;
      background-color: #343434;
      color: #fff;
      font-weight: bold;
      font-size: 11px;
      padding: 0.35rem 0.5rem;
      margin-right: 5px;
    }
    textarea {
      width: 100%;
    }
  }
  &-buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .btn {
      display: inline-block;
      padding: 0.5rem 1rem;
      background-color: #232323;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      border: 0;
      border-radius: 4px;
      transition: 0.1s ease-in all;
      font-size: 13px;
      &:hover {
        background-color: #454545;
        cursor: pointer;
      }
    }
  }
  &-popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(#000, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s ease-in all;
    z-index: 0;
  }
  &-popup.active {
    visibility: visible;
    opacity: 1;
    z-index: 999999;
  }
}
.new-component.database {
  .new-component-title,
  .new-component-fields span,
  .new-component-buttons .btn {
    background-color: #b5e2f0;
    color: #434343;
  }
  .new-component-close {
    color: #434343;
  }
}
.test-footer {
  text-align: right;
  margin-top: 0.5rem;
}
.test-btn {
  padding: 10px;
  margin: 0;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #ddd;
  cursor: pointer;
}

hr.form-separator {
  flex: none;
  display: block;
  margin-left: -2rem;
  margin-right: -2rem;
  margin-top: 5px;
  margin-bottom: 15px;
  background-color: #eee;
}
