@include phone {
  .pt-dialog {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .header {
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    figure {
      margin-top: .75rem;
      margin-bottom: .75rem;
      margin-left: 1rem;
      width: 75%;
    }
    img.logo { width: 164px; }
    a.mobile-menu {
      margin-left: auto;
      margin-right: 1rem;
      display: block;
      color: #fff;
      font-size: 1.2em;
    }
    .header-links {
      width: 100%;
      display: block;
      padding: .5rem 0;
      display: none;
    }
    .header-links a {
      display: block;
      width: 100%;
      padding: .5rem 0;
    }
    a.main-site { display: none }
    .mini-cart {
      margin-left: 0;
      height: auto;
      width: 100%;
      display: block;
      background-color: #262626;
      padding: .25rem 1rem;
      text-align: center;
      margin-top: 0;
    }
    .mini-cart--wrapper {
      left: 0;
      right: auto;
      width: 100%;
      padding: 1rem;
    }
    .mini-cart--content {
      &:before { right: 47%; }
    }
    .mini-cart--title,
    .mini-cart--package,
    .mini-cart--dates { text-align: left }
  }
  section.home.intro {
    .container { padding: 0 1rem 1rem 1rem; }
    h1 {
      font-size: 36px;
      padding: 1rem 0 .5rem 0;
    }
    p { font-size: 16px; }
    .bg { display: none }
    .foods {
      width: 310px;
      height: 270px;
      right: 0;
      bottom: 0;
      opacity: .1;
    }
  }
  .hiw {
    .hiw--title { padding: .75rem 1rem }
    .container{
      flex-wrap: wrap;
      span:nth-child(1) {
        font-size: 18px;
        width: 100%;
      }
      span:nth-child(2) {
        width: 100%;
        font-size: 15px;
      }
      span:nth-child(3) { display: none }
    }
    .hiw--body {
      padding: .75rem 1rem;
      ul { margin-bottom: 1rem; }
    }
    .bottle { opacity: .2 }
  }
  section.home.foods {
    padding: 1rem;
    h2 { margin-bottom: 1rem }
    .food-card--desc { min-height: auto }
  }
  footer {
    padding: 1rem;
    .footer-left h5 { margin-top: .5rem; margin-bottom: 1rem }
    .footer-right {
      text-align: center;
      padding-top: 1rem;
    }
  }
  section.top.intro { padding-top: 100px }
  section.top.details { padding-top: 9rem }
  .details {
    padding: 1rem;
    a.details--return {
      display: block;
      margin-top: 1rem;
      margin-bottom: 2rem
    }
    h1 { margin-bottom: 1rem }
    &--example-menu { margin-right: 0 }
    &--short-description { padding-right: 0; }
    &--description {
      padding-right: 0;
      margin-bottom: 2rem;
    }
    &--pictures {
      grid-template-columns: 1fr;
      div:nth-child(1) { grid-column: 1; grid-row: 1; }
      div:nth-child(2) { grid-column: 1; grid-row: 2; }
      div:nth-child(3) { grid-column: 1; grid-row: 3; }
    }
    .snack { margin-bottom: 2rem }
  }
  section.top.customize { padding-top: 9rem }
  .mobile-overflow {
    width: 100%;
    overflow: scroll;
    margin-bottom: 2rem;
    border-bottom: 1px dashed #ccc;
  }
  .mobile-overflow-snacks {
    width: 100%;
    overflow: scroll;
  }
  .customize {
    padding: 1rem;
    h1 { font-size: 24px; }
    p { font-size: 14px }
    &--tabs-wrapper {
      width: 100%;
      margin-bottom: 0;
      border-bottom: 0;
      li {
        min-width: 80px;
        margin-right: .5rem;
      }
    }
    &--tabs-wrapper li.tab-active {
      display: block;
    }
    &--item {
      width: 132px;
      span { font-size: 14px }
    }
    &--add-snacks {
      width: 132px;
      .blank {
        width: 132px;
        height: 132px;
      }
      span { font-size: 14px }
    }
    &--item:nth-child(2n) { margin-right: 0; }
    &--pickup-body {
      padding: 1rem 0;
      border-bottom: 0;
      flex-wrap: wrap;
      &-left {
        width: 100%;
        margin-bottom: 1rem;
      }
    }
  }
  .snacks-category {
    padding: 1.5rem 1rem;
  }
  .snacks-card {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .snacks-card:nth-child(3n) {
    margin-right: 0;
  }
  a.snacks-close-button {
    top: 55px;
    right: 0;
  }
  .snacks-menu {
    overflow: scroll;
    ul {
      min-width: 440px;
    }
  }
  .snacks-menu ul li:first-child { margin-left: 1rem }
  .review {
    flex-wrap: wrap;
    .review-wrap {
      width: 100%;
      margin-right: 0;
      margin-bottom: 1rem;
    }
    .review-buttons {
      width: 100%;
      .btn {
        text-align: center;
        width: 100%
      }
    }
  }
  section.top.checkout { padding-top: 8rem }
  .checkout {
    padding: 1rem;
    h1 { margin-bottom: 1rem }
    &--subtitle { margin-bottom: 2rem }
  }
  .form-left .form-section { margin-right: 0 }
  .form-group { margin-bottom: 1rem }
  .form-section .form-row,
  .form-section .form-row:last-child { margin-bottom: 0 }
  .form-section--payment-button {
    margin-bottom: 1rem;
  }
  .review-buttons {
    table tbody tr td:nth-child(odd),
    table tbody tr td:nth-child(even) {
      width: 50%;
    }
  }
}

@include desktop-small {
  .hiw--body .container {
    position: relative;
    z-index: 5;
  }
  .hiw .bottle {
    opacity: .4;
    z-index: 1;
  }
}
