@import "../../../node_modules/normalize.css/normalize.css";
@import "fonts";
@import "grids";
@import "mixins";

@page {
  size: A4 portrait;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main-content {
  padding: 0;
}

.schedule-wrapper {
  display: grid;
  justify-items: center;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.schedule {
  &--card {
    border-top: 2px solid #333;
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
  }
  &--card:nth-child(6) {
    display: block;
    page-break-after: always;
  }
  &--name {
    display: block;
    font-variant: small-caps;
    font-weight: 500;
    margin-bottom: 10px;
  }
  &--meals {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 1rem;
    span:nth-child(1) {
      font-weight: bold;
      display: block;
      font-variant: small-caps;
      font-size: 14px;
      text-transform: lowercase;
      margin-bottom: 0.25rem;
    }
  }
  &--snacks {
    font-size: 14px;
    margin-bottom: 1rem;
    span {
      display: block;
      font-variant: small-caps;
      font-size: 14px;
      text-transform: lowercase;
      margin-bottom: 0.25rem;
    }
    span:nth-child(1) {
      font-weight: bold;
    }
  }
  &--comments,
  &--station {
    font-size: 14px;
    line-height: 1.5;
    span:nth-child(1) {
      font-variant: small-caps;
      text-transform: lowercase;
      margin-bottom: 0.25rem;
      display: block;
      font-weight: bold;
    }
  }
  &--delivery {
    border-top: 1px solid #ddd;
    padding-top: 1rem;
    margin-top: auto;
    font-size: 14px;
    span {
      display: block;
      font-weight: 500;
      font-variant: small-caps;
      margin-bottom: 0.75rem;
    }
  }
}
a.complete-delivery,
a.complete-delivery:focus,
a.complete-delivery:active {
  display: block;
  margin-top: 1.5rem;
  border: 2px solid #4a66ff;
  color: #4a66ff;
  font-weight: 500;
  font-variant: small-caps;
  padding: 0.75rem 1.25rem;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  transition: 0.2s ease-in all;
  &:hover {
    background-color: #4a66ff;
    color: #fff;
  }
}
a.complete-delivery.completed,
a.complete-delivery.completed:focus,
a.complete-delivery.completed:active {
  background-color: #77ca29;
  color: #fff;
  border-color: #77ca29;
  pointer-events: none;
}

hr {
  margin: 5px 0;
  border: 1px dashed #ddd;
  border-bottom: 0;
}
h1 {
  margin: 0;
  font-size: 14px;
  display: block;
  text-align: right;
  padding-bottom: 1rem;
  text-transform: uppercase;
}
.print {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  a.btn {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    background-color: #4a66ff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
  }
}

table {
  width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.5;
  tr {
    page-break-inside: avoid;
    box-decoration-break: slice;
  }
  tr th:first-child {
    border-left: 1px solid #ccc;
  }
  tr th {
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 8px 12px;
    text-transform: lowercase;
    font-variant: small-caps;
  }
  tr td {
    padding: 8px 12px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  tr td:first-child {
    border-left: 1px solid #ccc;
  }
  tr td:nth-child(1),
  tr td:nth-child(2),
  tr td:nth-child(3) {
    text-align: center;
    text-transform: lowercase;
    font-variant: small-caps;
  }
  tr td:nth-child(4),
  tr td:nth-child(5) {
    text-transform: lowercase;
    font-variant: small-caps;
  }
}

@media only screen {
  h1 {
    text-align: center;
    font-size: 18px;
    margin: 1rem 0;
  }
  a.schedule-nav {
    display: inline-block;
    margin: 0 5px;
    color: #4a66ff;
  }
}

@media only print {
  hr {
    border: 0;
    margin: 2px 0;
  }
  body {
    padding: 10mm;
    background: white;
  }
  table {
    width: 720px;
    margin: 0;
  }

  .main-content {
    width: 190mm;
    height: 276mm;
  }
  a.schedule-nav {
    display: none;
  }
  .print {
    display: none;
  }
  .schedule {
    page-break-inside: avoid;
    &--card {
      padding: 10px 0 0 0;
      page-break-inside: avoid;
    }
    &--meals {
      font-size: 12px;
      page-break-inside: avoid;
    }
  }
}
